/Ausarbeitung/Valgrind in der Qualitätssicherung.aux
/Ausarbeitung/Valgrind in der Qualitätssicherung.log
/Ausarbeitung/Valgrind in der Qualitätssicherung.out
/Ausarbeitung/Valgrind in der Qualitätssicherung.pdf
/Ausarbeitung/Valgrind in der Qualitätssicherung.synctex.gz
/Ausarbeitung/Valgrind in der Qualitätssicherung.toc
/Ausarbeitung/missfont.log
/Examples/cachegrind.out.9224
/Examples/cachegrind/cachegrind_example
/Examples/memcheck/cachegrind.out.9102
/Examples/memcheck/memchek_example
/Examples/memcheck/memchek_example.o
